@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kanit', sans-serif;
}

.container {
  position: relative;
  height: 100vh;
}

.header-right {
  position: absolute;
  top: 10px;
  right: 35px;
  display: flex;
  align-items: center;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

#title {
  display: flex;
  flex-direction: row;
  line-height: 10px;
  align-items: center;
}

#title > img {
  width: 80px;
}

#title > h1 {
  font-size: 45px;
  margin-left: 15px;
  letter-spacing: 1px;
}

h1 {
  font-weight: 200;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #0d46af;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* text */
.text-logout {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 5px;
}

/* hover effect button's text */
.Btn:hover .text-logout {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

p#user-greeting {
  margin-right: 22px;
  font-size: 19px;
}

.registro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-registro {
  height: 80%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #17163f;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #0000005b;
}

.card-registro > h1 {
  color: #dbdbdb;
  font-weight: 800;
  margin-bottom: -2%;
  margin-top: 5%;
  font-size: 40px;
}

#heart-rate-data {
  padding: 30px;
  width: 100%;
  height: 100%;
}

#heart-rate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Centraliza os cards horizontalmente */
  max-height: 85%; /* Altura máxima desejada para a lista */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
  list-style-type: none;
  padding: 5px;
}

#heart-rate-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
  padding: 30px;
  background-color: #1b1949;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.295);
  color: white;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

#heart-rate-list li .bpm {
  font-size: 34px;
  color: whitesmoke;
  margin-left: -6%;
  margin-right: 5%;
}

#heart-rate-list li .date {
  font-size: 25px;
  color: whitesmoke;
  margin-left: -2%;
}

#heart-rate-list li .time {
  font-size: 25px;
  color: whitesmoke;
  margin-left: -2%;
}

#heart-rate-list li .delete-icon {
  cursor: pointer;
}

#heart-rate-list li .delete-icon img {
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

#heart-rate-list li .delete-icon:hover img {
  opacity: 1;
}


.heart-rate-info > span {
  margin-top: 15%;
  margin-bottom: 22%;
}


.card-registro > button {
  position: absolute;
  top: 82%;
  background-color: #60278e;
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 35px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 20px;
  transition: transform 0.3s;
}

.card-registro > button:hover {
  transform: scale(1.1);
}

#heart-rate-list li .view-button {
  width: 80%;
  border: 2px solid #0d46af;
  padding: 8px;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 10px; 
}

#heart-rate-list li .view-button:hover {
  background-color: #0d46af;
  color: white;
  cursor: pointer;
}

#heart-rate-list li:hover {
  box-shadow: 0.2px 0.2px 1.5px 1.5px #0d46af;
}

#heart-rate-list::-webkit-scrollbar {
  width: 5px;               /* Largura da barra de rolagem */
}

#heart-rate-list::-webkit-scrollbar-track {
  background: transparent;   /* Cor da área de rastreamento */
}

#heart-rate-list::-webkit-scrollbar-thumb {
  background-color: #666666; /* Cor do polegar da barra de rolagem */
  border-radius: 30px;       /* Arredondamento do polegar da barra de rolagem */
  border: none;              /* Cria espaço em torno do polegar da barra de rolagem */
}

.heart-bpm-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 16%;
}

.calendar-date-container{
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.clock-time-container{
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

@media only screen and (max-width: 320px) {
  .registro {
    margin-top: 20px;
  }
  .card-registro {
    width: 90%;
    height: 85%;
    padding: 0;
  }
  .card-registro > h1 {
    margin-top: 10px;
    margin-bottom: -30px;
    font-size: 28px; /* Reduzir o tamanho da fonte */
  }
  .header-right {
    display: none;
  }
  .card-registro > h1 {
    font-size: 28px; /* Reduzir o tamanho da fonte */
  }
  #heart-rate-list {
    width: 100%;
    max-height: 90%;
    padding: 5px;
    overflow-y: auto; /* Adicionar barra de rolagem vertical */
    overflow-x: hidden; /* Impede a rolagem horizontal */
  }
  #heart-rate-list::-webkit-scrollbar {
    width: 0; /* Oculta a barra de rolagem horizontal */
  }
  #heart-rate-list li {
    width: 100%;
    display: flex;
    
    flex-direction: column; /* Empilhar elementos verticalmente */
    align-items: center; /* Alinha verticalmente os elementos */
  }
  #heart-rate-list li .bpm {
    font-size: 22px; /* Reduzir o tamanho da fonte */
    margin: 5px 0; /* Adicionar espaço entre o ícone do coração e o BPM */
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empilhar elementos verticalmente */
    align-items: center; /* Alinha verticalmente os elementos */
  }
  #heart-rate-list li .date {
    font-size: 20px; /* Reduzir o tamanho da fonte */
    margin: 5px 0; /* Adicionar espaço entre o calendário e a data */
  }
  #heart-rate-list li .time {
    font-size: 20px; /* Reduzir o tamanho da fonte */
  }
  #heart-rate-list li .delete-icon {
    margin-top: 12px; 
  }
  .heart-bpm-container {
    margin: 0;
    width: 100%;
    justify-content: start;
  }
  
  .calendar-date-container{
    margin: 0;
    width: 100%;
    justify-content: start;
  }
  
  .clock-time-container{
    margin: 0;
    width: 95%;
    justify-content: start;
  }

  .clock-time-container img{
    margin-right: 34px;
  }
  .calendar-date-container img{
    margin-right: 20px;
  }
  .heart-bpm-container img{
    margin-right: 20px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 321px) {
  .registro {
    margin-top: 20px;
  }
  .card-registro {
    width: 90%;
    height: 85%;
    padding: 0;
  }
  .card-registro > h1 {
    margin-top: 10px;
    margin-bottom: -30px;
    font-size: 28px; /* Reduzir o tamanho da fonte */
  }
  .header-right {
    display: none;
  }
  .card-registro > h1 {
    font-size: 28px; /* Reduzir o tamanho da fonte */
  }
  #heart-rate-list {
    width: 100%;
    max-height: 90%;
    padding: 5px;
    overflow-y: auto; /* Adicionar barra de rolagem vertical */
    overflow-x: hidden; /* Impede a rolagem horizontal */
  }
  #heart-rate-list::-webkit-scrollbar {
    width: 0; /* Oculta a barra de rolagem horizontal */
  }
  #heart-rate-list li {
    width: 100%;
    display: flex;
    
    flex-direction: column; /* Empilhar elementos verticalmente */
    align-items: center; /* Alinha verticalmente os elementos */
  }
  #heart-rate-list li .bpm {
    font-size: 22px; /* Reduzir o tamanho da fonte */
    margin: 5px 0; /* Adicionar espaço entre o ícone do coração e o BPM */
    display: flex;
    justify-content: center;
    flex-direction: column; /* Empilhar elementos verticalmente */
    align-items: center; /* Alinha verticalmente os elementos */
  }
  #heart-rate-list li .date {
    font-size: 20px; /* Reduzir o tamanho da fonte */
    margin: 5px 0; /* Adicionar espaço entre o calendário e a data */
  }
  #heart-rate-list li .time {
    font-size: 20px; /* Reduzir o tamanho da fonte */
  }
  #heart-rate-list li .delete-icon {
    margin-top: 12px; 
  }
  .heart-bpm-container {
    margin: 0;
    width: 100%;
    justify-content: start;
  }
  
  .calendar-date-container{
    margin: 0;
    width: 100%;
    justify-content: start;
  }
  
  .clock-time-container{
    margin: 0;
    width: 95%;
    justify-content: start;
  }

  .clock-time-container img{
    margin-right: 34px;
  }
  .calendar-date-container img{
    margin-right: 20px;
  }
  .heart-bpm-container img{
    margin-right: 20px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
  .card-registro {
    width: 95%;
  }
}

@media only screen and (max-width: 999px) and (min-width: 801px) {
  .card-registro {
    width: 80%;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1000px) {
  .card-registro {
    width: 62%;
  }
}

@media only screen and (min-width: 1800px){
  .heart-rate-info > span{
    margin-top: 15%;
    margin-bottom: 28%;
  }
  .card-registro{
    width: 50%;
    height: 70%;
  }
  #heart-rate-list li .bpm {
    font-size: 32px; /* Reduzir o tamanho da fonte */
  }  
  #heart-rate-list li .date {
    font-size: 28px; 
  }
  #heart-rate-list li .time {
    font-size: 28px; 
  }
}
