@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kanit', sans-serif;
}

.container {
  position: relative;
  height: 100vh;
}

.header-right {
  position: absolute;
  top: 10px;
  right: 35px;
  display: flex;
  align-items: center;
  color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

#title{
    display: flex;
    flex-direction: row;
    line-height: 10px;
    align-items: center;
}

#title > img{
    width: 80px;
}

#title > h1{
    font-size: 45px;
    margin-left: 15px;
    letter-spacing: 1px;
}

h1{
    font-weight: 200;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #0d46af;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text-logout {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 5px;
  }
  /* hover effect button's text */
  .Btn:hover .text-logout {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  p#user-greeting {
    margin-right: 22px;
    font-size: 19px;
  }

  .home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-home {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 35px;
    background: #1c1a4b;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #0000005b;
  }

  #relatorio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #grafico{
    width: 65%;
  }

  .relatorio-box{
    height: 50%;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 20px;
    margin-left: 15px;
    letter-spacing: 1px;
    color: whitesmoke;
  }

  #paragrafo-batimentos{
    margin-top: -8px;
    font-size: 40px;
  }

  #paragrafo-imc{
    margin-top: -8px;
    font-size: 40px;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Aplique a animação aos elementos desejados */
  #paragrafo-batimentos {
    animation: pulse 1.5s infinite;
  }

  @media only screen and (max-width: 320px) {
    .card-home {
      width: 90%;
      height: 70%;
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
    #relatorio{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: -3%;
      margin-top: 0;
    }
    .relatorio-box{
      margin: 20px;
      margin-top: -25px;
      font-size: 10px;
    }
    #grafico{
      width: 100%;
      order: 1;
    }
    
  }
  
  @media only screen and (max-width: 600px) and (min-width: 321px) {
    .card-home {
      width: 90%;
      height: 55%;
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
    #relatorio{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: -3%;
      margin-top: 0;
    }
    .relatorio-box{
      margin: 20px;
      margin-top: -50px;
      font-size: 16px;
    }
    #grafico{
      width: 95%;
      order: 1;
    }
  }
  
  @media only screen and (max-width: 820px) and (min-width: 601px) {
    .card-home {
      width: 90%;
      height: 55%;
      display: flex;
      flex-direction: column;
      padding: 5px;
    }
    #relatorio{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: -3%;
      margin-top: 0;
    }
    .relatorio-box{
      margin: 20px;
      margin-top: -50px;
    }
    #grafico{
      width: 95%;
      order: 1;
    }

  }
  
  
